*{
    font-family: Arial, Helvetica, sans-serif;
    color: #F0AD4E;
}
.container_create, .container_read{
    margin: 0 auto;
    border: 10px solid #4219f9;
    padding: 20px;
    width: fit-content;
    background-color: #6644FA;
    border-radius: 5px;
}
table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
}
.btn_div{
    padding-top: 20px;
    padding-bottom: 20px;
}
.text{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: #4219f9;
}
.btn{
    background-color: #F0AD4E;
    border-color: #F0AD4E;
    color: whitesmoke;
    padding: 9px 20px;
    border-radius: 5px;
}
